<link href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="thm-container">
  <div class="row">
    <div class="col-md-8">
      <div class="contact-form-content">
        <div class="title">
          <h2>Contactame</h2>
        </div><!-- /.title -->
        <form action="inc/sendemail.php" class="contact-form" novalidate="novalidate">
          <input type="text" name="name" placeholder="Nombre">
          <input type="text" name="email" placeholder="correo electrónico">
          <textarea name="message" placeholder="Escribeme un mensaje"></textarea>
          <button type="submit" class="thm-btn yellow-bg">Enviar</button>
          <div class="form-result"></div><!-- /.form-result -->
        </form>
      </div><!-- /.contact-form-content -->
    </div><!-- /.col-md-8 -->
    <div class="col-md-4">
      <div class="contact-info text-center">
        <div class="title text-center">
          <span>Información de contacto</span>
          <h2>Detalles</h2>
        </div><!-- /.title -->
        <div class="single-contact-info">
          <h4>Dirección</h4>
          <p>Neza... <br> Ciudad de México, México</p>
        </div><!-- /.single-contact-info -->
        <div class="single-contact-info">
          <h4>Télefono</h4>
          <p>Casa: 222 999 888 <br> Móvil : 000 8888 999</p>
        </div><!-- /.single-contact-info -->
        <div class="single-contact-info">
          <h4>Correo electrónico</h4>
          <p>needhelp@printify.com <br> inquiry@printify.com</p>
        </div><!-- /.single-contact-info -->
        <div class="single-contact-info">
          <h4>Mis redes sociales</h4>
          <div class="social">
            <a href="#" class="fab fa-twitter hvr-pulse"></a><!--
                             --><a href="https://github.com/anabahena" target="_blank" class="fab fa-github hvr-pulse"></a><!--
                             --><a href="https://www.facebook.com/DenAdel1213" target="_blank" class="fab fa-facebook-f hvr-pulse"></a><!--
                             --><a href="https://www.linkedin.com/in/ana-g-bahena-30b899110/"  target="_blank" class="fab fa-linkedin hvr-pulse"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
