
<section class="blog py-5 bg-dark ">

  <div class="container">
    <div class="row">
      <div class="col-12 ">
        <h3 class="heading-6  text-center text-white">MIS PROYECTOS</h3>
        <hr class="mx-auto">
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img src="../assets/trivia.PNG" height=200px>

          <div class="card-block">
            <div class="category">
              <h5>Trivia | html | js | css</h5>
            </div>
            <br>
            <a href="https://anabahena.github.io/Trivia_cin-fila/" target="_blank" class="card-link ">Proyecto</a>
            <a href="https://github.com/anabahena/Trivia_cin-fila" target="_blank" class="card-link">Código</a>
          </div>
        </div>
      </div>


      <div class="col-sm-3">
        <div class="card">
          <img src="../assets/cipher.PNG" height=200px>
          <div class="card-block">
            <div class="category">
              <h5>Cipher | html | js | css</h5>
            </div>
            <br>
            <a href="https://anabahena.github.io/MEX-008-Cipher/src/index.html" target="_blank" class="card-link ">Proyecto</a>
            <a href="https://github.com/anabahena/MEX-008-Cipher" target="_blank" class="card-link">Código</a>
          </div>
        </div>


      </div>


      <div class="col-sm-3">
        <div class="card">
          <img src="../assets/dathalovers.PNG" height=200px>
          <div class="card-block">
            <div class="category">
              <h5>Data-Lovers | html | js | css </h5>
            </div>
            <br>
            <a href="https://anabahena.github.io/MEX-Data-Lovers-008/src/index.html" target="_blank" class="card-link ">Proyecto</a>
            <a href="https://github.com/anabahena/MEX-008-Cipher" target="_blank" class="card-link">Código</a>
          </div>
        </div>

    </div>
  </div>
  </div>

<br>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <img src="../assets/red-social.PNG" height=200px>

          <div class="card-block">
            <div class="category">
              <h6>Red Social |html |js |css |Firebase |Bootstrap</h6>
            </div>
            <a href="https://blank-tech.github.io/MEX008-social-network/src/" target="_blank" class="card-link ">Proyecto</a>
            <a href="https://blank-tech.github.io/MEX008-social-network/src/" target="_blank" class="card-link">Código</a>
          </div>
        </div>
      </div>


      <div class="col-sm-3">
        <div class="card">
          <img src="../assets/labcar.PNG" height=200px>
          <div class="card-block">
            <div class="category">
              <h5>LabCar | html | js | css</h5>
            </div>
            <br>
            <a href="https://anabahena.github.io/Labcar/src/index.html" target="_blank" class="card-link ">Proyecto</a>
            <a href="https://github.com/anabahena/Labcar" target="_blank" class="card-link">Código</a>
          </div>
        </div>


      </div>


      <div class="col-sm-3">
        <div class="card">
          <img src="../" height=200px>
          <div class="card-block">
            <div class="category">
              <h5>Cargando...  </h5>
            </div>
            <br>
            <a href="#" target="_blank" class="card-link ">Proyecto</a>
            <a href="#" target="_blank" class="card-link">Código</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
